<ul class="addresses" ng-repeat="address in data">
	<li>
		<div class="name">
			{{address.name}}
		</div>
		<div class="address">
			<strong>Endereço:</strong>{{address.address}}
		</div>
		<div class="neighbohood">
			<strong>Bairro:</strong>{{address.neighborhood}}
		</div>
		<div class="city">
			<strong>Cidade:</strong>{{address.city}} - {{address.estate}}
		</div>
	</li>
</ul>
