<ul class="products" ng-repeat="product in data.products">
	<li>
		<div class="image"><img ng-src="{{product.image}}" /></div>
		<div class="title">{{product.title}}</div>
		<div class="brand">{{product.brand}}</div>
		<div class="price">{{product.price}}</div>
	</li>
</ul>
<ul class="summary">
	<li class="total">
		<strong>Total:</strong>
		{{data.summary.total}}
	</li>
	<li ng-show="data.summary.split">
		Dividido em até {{data.summary.split.times}}x de {{data.summary.split.price}}
	</li>
</ul>