<ul class="user">
	<li class="name">
		{{data.name}}
	</li>
	<li class="cpf">
		<strong>CPF:</strong>{{data.cpf}}
	</li>
	<li class="gender">
		<strong>Sexo:</strong>{{data.gender}}
	</li>
	<li class="birthday">
		<strong>Data de nascimento:</strong>{{data.birthday}}
	</li>
	<li class="phone">
		<strong>Telefone:</strong>{{data.phone}}
	</li>
	<li class="email">
		<strong>Email:</strong>{{data.email}}
	</li>
</ul>
