<!DOCTYPE html>
<html lang="en" ng-app="walmartApp">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Desafio Walmart para o Roberto Robson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/libs.min.css?t={{timestamp}}" rel="stylesheet">
    <link href="css/app.css?t={{timestamp}}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <walmart-navigation></walmart-navigation>
    <div class="container">
      <div ng-view></div>
    </div>
    <script src="js/app.min.js?t={{timestamp}}"></script>
  </body>
</html>