
// Colors
$navBackground: #3F71BE !default;
$navLinksButtons: #ccc !default;
$navLinksColor: #515151 !default;
$navLinksButtonHover: #3FBD67 !default;
$containerBoxes: #E4EAF5 !default;
$summary: #97C897 !default;