@charset "UTF-8";

.container {
	margin-top:50px;
	padding:20px;
}

.text1 {
	font-size:25px;
	font-weight:bold;
}

.text2 {
	font-size:20px;
	font-weight:bold;
	color:$navLinksColor;
}

.text3 {
	font-size:20px;
}

.containerBoxes {
	@include border-radius(5px);
	margin:0 0 20px 0;
	padding:20px;
	background-color:$containerBoxes;
	position:relative;
}

// Products
.products {
	@extend .containerBoxes;

	min-height:100px;

	.image img {
		float:left;
		width:100px;
		margin-right:20px;
	}

	.title {
		@extend .text1;
		margin-bottom:10px;
	}

	.price {
		@extend .text2;
		position:absolute;
		bottom:20px;
		right:20px;
	}

	@media (max-width: 414px) {
		.image img {
			width:100%;
			float:none;
			margin:0;
		}
	}
}

.summary {
	@extend .containerBoxes;
	background-color:$summary;
	li{
		text-align:right;
	}
	.total {
		@extend .text1;
	}
}

// Addresses
.addresses {
	@extend .containerBoxes;
	float:left;
	margin-right:20px;
	strong {padding-right:5px}

	div {padding:5px 0;}

	.name {
		@extend .text1;
	}

	@media (max-width: 414px) {
		float:none;margin-right:0;
	}
}

//User
.user {
	@extend .containerBoxes;

	li {
		@extend .text3;
		padding-bottom:20px;
		strong {padding-right:5px;}
	}

	.name{
		font-size:30px;
		text-align:center;
		padding-bottom:10px;
	}

	@media (max-width: 414px) {
		strong {
			display:block;
		}
	}

}
