@charset "UTF-8";

nav {

	width:100%;
	height:50px;
	position:fixed;
	top:0;
	left:0;
	background-color:$navBackground;
	z-index:1;

	ul {
		margin:0;
		padding:5px 0 0 20px;
	}

	li a {
		@include border-radius(5px);
		float:left;
		padding:10px;
		background:red;
		text-decoration: none;
		background-color:$navLinksButtons;
		color:$navLinksColor;
		font-size:20px;
		margin-right:20px;

		&:hover {
			background-color:$navLinksButtonHover;
		}

	}

}

@media (max-width: 414px) {
	nav {
		ul li a {
			font-size:15px;
			margin:2px 10px 0 0;
		}
	}
}